body {
  background-color: whitesmoke
}

img {
  width: 100px;
  height: 100px;
}

button {
  float: right;
}

.container-fluid {
  margin: 4px;
}
.module {
  border: 3px solid mediumslateblue;
}

.row {

  margin: 4px;
}

.col {

  margin: 4px;
}

.header {
  width: 330px;
  height: 30px;

}



.appCard {
  border: 1px solid black;
  width: 340px;
  height: 170px;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

.appLogo {
  text-align: center;
  background-color: red;
  display: block;
  margin: auto

}

.appInfo {

}

.appInfo .row {
border: 1px solid black
}

.appCard.row .col-6{

}

